<ion-modal-view>

    <ion-content class="login-page">

        <div class="login-set">
            <img src="img/logo.png" class="img-responsive">
        </div>

        <div class="row padding">
            <div class="col"> 
                <div class="list list-inset">
                    <label class="item item-input"><input type="text" ng-model="creds.username" placeholder="Email Address"> </label>
                    <label class="item item-input"><input type="password" ng-model="creds.password" placeholder="Password"> </label>
                </div>
                <div class="loginButton"><button class="button ion-unlocked button-block button-balanced" ng-click="doLogin()"> Login </button>  </div>
                <div class="logoutButton"><button class="button ion-locked button-block button-balanced" ng-click="doLogout()"> Logout Hack </button>  </div>
            </div>
        </div>

    </ion-content>
    
</ion-modal-view>
