<ion-view view-title="Clients">

    <ion-nav-buttons side="secondary">
        <button class="button button-icon icon ion-ios-plus-empty" ng-click="openModal()"></button>
    </ion-nav-buttons>

    <ion-content>

        <ion-refresher on-refresh="doRefresh()"></ion-refresher>

        <ion-list>
            <ion-item class="item-remove-animate item-icon-left item-icon-right" ng-repeat="client in clients" type="item-text-wrap" href="#/tab/clients/{{client._id}}">

                <i ng-if="!client.jobDetails.commercial" class="icon ion-home {{client.status}}" ng-class="{{client.status}}"></i>
                <i ng-if="client.jobDetails.commercial" class="icon ion-ios-briefcase" ng-class="{{client.status}}"></i>

                <h2>{{client.name}}</h2>
                <p>{{client.address}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button ng-if="client.status === 'active'" class="button-energized" ng-click="remove(client._id)">
                    Pause
                </ion-option-button>

                <ion-option-button ng-if="client.status !== 'deleted'"  class="button-assertive" ng-click="remove(client._id)">
                    Delete
                </ion-option-button>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>