/* Empty. Add your own CSS if you like */
.login-content {
    margin-top: 20px !important;
}

.login-page {
    background-image: url('../img/grass.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

ion-header-bar {
    background-image: url('../img/grass.jpg') !important;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.modal .bar.bar-positive {
    background-size: cover;
    border-bottom: 1px solid #80b31a !important;
}

.modal li.item.item-divider {
    background-color: #444;
    color: white;
    height: 35px;
    font-weight: normal;
    font-size: 14px;
}

.modal ion-content {
    top: 43px;
}


.login-set {
    margin-top: 50px;
}

.loginButton .button.button-balanced {
    background-color: #444 !important;
    border-color: #333 !important;
}

.tabs-striped.tabs-background-balanced .tabs {
  background-color: #558000 !important;

}

.tabs-top.tabs-striped .tab-item, .tabs-top.tabs-striped .tab-item, .tabs-top.tabs-striped .tab-item {
      border-width: 0px 0px 4px 0px !important;
      border-color: #558000 !important;
}

.tabs-top.tabs-striped .tab-item.tab-item-active, .tabs-top.tabs-striped .tab-item.active, .tabs-top.tabs-striped .tab-item.activated {
      border-width: 0px 0px 4px 0px !important;
      border-color: #444 !important;
}

.tabs-top.tabs-striped > div.tabs {
    height: 35px !important;
    border-top: 1px solid #80b31a !important;
}

.tabs-top.tabs-striped > div.tabs a.tab-item {
    line-height: 35px !important;
}

.has-tabs-top.jobs {
    top: 79px;
}

.icon.active {
    color: green;
}

.icon.paused {
    color: orange;
}

.icon.cancelled {
    color: red;
}