/* Empty. Add your own CSS if you like */
.login-content {
    margin-top: 20px !important;
}

.login-page {
    background-image: url('../img/grass.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-set {
    margin-top: 50px;
}

.loginButton .button.button-balanced {
    background-color: #444 !important;
    border-color: #333 !important;
}

.tabs-striped.tabs-background-balanced .tabs {
  background-color: #558000 !important;

}

.tabs-top.tabs-striped .tab-item.tab-item-active, .tabs-top.tabs-striped .tab-item.active, .tabs-top.tabs-striped .tab-item.activated {
      border-width: 2px 0px 0px 0px !important;
}