/* Empty. Add your own CSS if you like */
.login-content {
    margin-top: 20px !important;
}

.login-page {
    background-image: url('../img/grass.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-set {
    margin-top: 50px;
}

.login-button {
    background-color: red !important;
}